<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Our Team</title>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">  
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href= "../static/css/style.css">
  </head>

  <body>
<!-- Navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid navbar-custom">
    <div class="row">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>       
      </button>
      <a class="navbar-brand" id="logo" href="/">World Population</a>
      </div>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav" id="ournav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Plots</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="Max Temperature.html">Max Temperature</a>
          <a class="dropdown-item" href="Humidity.html">Humidity</a>
          <a class="dropdown-item" href="Cloudiness.html">Cloudiness</a>
          <a class="dropdown-item" href="Wind Speed.html">wind Speed</a>
        </div>
      </li>
      <li><a class="nav-link" href="countries-population">Countries</a></li>
      <li><a class="nav-link" href="Data">Table Data</a></li>
      <li><a class="nav-link" href="api">API Documentation</a></li>
      <li><a class="nav-link" href="summary">Resources</a></li>
      <li><a class="nav-link" href="contact">Meet the Team</a></li>
    </ul>
  </div>
  </div>
  </div>
</nav>
<!-- End Navbar -->
<div class="container-fluid bg-3">
   <div class="container"> 
       <h3 class="text-center" style="margin-top: 90px;">Team Members</h3><br>
      <hr>
      <div class="row" style="margin-bottom: 30px;">
        <div id='rye-bio'>
        <div class="col-sm-4">
          <img src="../static/images/rye.jpg" alt="Rye" style="border-radius: 15px; border: 5px solid rgb(255, 255, 255);">
        </div>
        <div class="col-sm-8">
          <p id="team-par-head"><strong>Rye Capati</strong></p>
          <hr style="background-color:rgba(184, 174, 196, 0.5);">
          <p id="team-par">Rye has panned out from IT Service Desk to providing high quality On-site Support to clients which then progressed to leading and managing an IT Site Support Team.
          You can view Rye’s LinkedIn <a href='https://www.linkedin.com/in/rye-capati-2589b315a/'>here</a>
          </p>
        </div>
        </div>
      </div>

      <div class="row" style="margin-bottom: 30px;">
        <div id='stephen-bio'>
        <div class="col-sm-4">
          <img src="../static/images/stive.jpg" alt="Stephen" style="border-radius: 15px; border: 5px solid rgb(255, 255, 255);">
        </div>
        <div class="col-sm-8">
          <p id="team-par-head"><strong>Stephen Milton</strong></p>
          <hr style="background-color:rgba(184, 174, 196, 0.5);">
          <p id="team-par">Organized data analyst with a strong portfolio in analysing data with different tools such as Microsoft Excel, Tableau and Python. Bachelor of Statistics and certificate in data visualization from UWA with excellent grades, having working knowledge of financial analysis and economics with 10 years of experience as a senior bank advisor.
            You can view Stephen LinkedIn <a href='https://www.linkedin.com/in/stephen-milton-4765ab84/'>here</a>
          </p>
        </div>
        </div>
      </div>

      <div class="row" style="margin-bottom: 30px;">
        <div id='cicily-bio'>
        <div class="col-sm-4">
          <img src="../static/images/cicily.jpg" alt="Cicily" style="border-radius: 15px; border: 5px solid rgb(255, 255, 255);">
        </div>
        <div class="col-sm-8">
          <p id="team-par-head"><strong>Cicily George</strong></p>
          <hr style="background-color:rgba(184, 174, 196, 0.5);">
          <p id="team-par">Organized data analyst with a strong portfolio in analysing data with different tools such as Microsoft Excel, Tableau and Python. Bachelor of Statistics and certificate in data visualization from UWA with excellent grades, having working knowledge of financial analysis and economics with 10 years of experience as a senior bank advisor.
            You can view Cicily LinkedIn <a href='https://www.linkedin.com/in/cicily-george-a235731a2/'>here</a>
          </p>
        </div>
        </div>
      </div>
      
      <div class="row" style="margin-bottom: 30px;">
        <div id='parastoo-bio'>
        <div class="col-sm-4">
          <img src="../static/images/parastoo.jpg" alt="Parastoo" style="border-radius: 15px; border: 5px solid rgb(255, 255, 255);">
        </div>
        <div class="col-sm-8">
          <p id="team-par-head"><strong>Parastoo Razavi</strong></p>
          <hr style="background-color:rgba(184, 174, 196, 0.5);">
          <p id="team-par">Organized data analyst with a strong portfolio in analysing data with different tools such as Microsoft Excel, Tableau and Python. Bachelor of Statistics and certificate in data visualization from UWA with excellent grades, having working knowledge of financial analysis and economics with 10 years of experience as a senior bank advisor.
          You can view Parastoo’s LinkedIn <a href='https://www.linkedin.com/in/parastoo-razavi/'>here</a>
          </p>
        </div>
        </div>
      </div>

      <div class="row" style="margin-bottom: 30px;">
        <div id='ezra-bio'>
        <div class="col-sm-4">
          <img src="https://placehold.it/150x80?text=IMAGE" alt="Ezra" style="border-radius: 15px; border: 5px solid rgb(255, 255, 255);">
        </div>
        <div class="col-sm-8">
          <p id="team-par-head"><strong>Ezra Tassone</strong></p>
          <hr style="background-color:rgba(184, 174, 196, 0.5);">
          <p id="team-par">Organized data analyst with a strong portfolio in analysing data with different tools such as Microsoft Excel, Tableau and Python. Bachelor of Statistics and certificate in data visualization from UWA with excellent grades, having working knowledge of financial analysis and economics with 10 years of experience as a senior bank advisor.
          You can view Ezra LinkedIn <a href='https://www.linkedin.com/in/ezra-tassone-73a3191b3/'>here</a>
          </p>
        </div>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>