<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Our Team</title>
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">  
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href= "../static/css/style.css">
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    <script> 
      $(function(){ 
	    $("#header").load("header"); 
      });
	  </script> 
</head>

<body>
<!-- Navbar -->
<div id="header">
	<!-- tags from header.html -->
</div>
<!-- End Navbar -->

<div class="container-fluid bg-3">
   <div class="container"> 
      <h3 class="text-center" style="margin-top: 90px;">Team Members</h3><br>
      <hr>
      <div class="row" style="margin-bottom: 30px;">
        <div id='rye-bio'>
        <div class="col-sm-4">
          <img src="../static/images/rye.jpg" alt="Rye" style="border-radius: 15px; border: 5px solid rgb(255, 255, 255);">
        </div>
        <div class="col-sm-8">
          <p id="team-par-head"><strong>Rye Capati</strong></p>
          <hr style="background-color:rgba(184, 174, 196, 0.5);">
          <p id="team-par">An IT Support Operation Team Lead with over 10 years of IT support experience. Rye has panned out from IT Service Desk to providing high quality On-site Support along with Server Backup administration to clients which then progressed to leading and managing an IT Support Operations Team. The skills and experiences that he gained from handling and mentoring a team has helped him effectively transition to various roles that he has been a part of. Aspiring Busines Analyst.
          You can follow Rye on: </p><br>
          <a href='https://www.linkedin.com/in/rye-capati-2589b315a/'><img class="linkIcons" src="../static/images/linkedin-logo.png" style="width: 60px; height: 60px; margin-left: 50px;"></a> 
          <a href='https://github.com/Rye-Git'><img class="linkIcons" src="../static/images/github-logo.png" style="width: 60px; height: 60px;margin-left: 50px;"></a>   
        </div>
        </div>
      </div>

      <div class="row" style="margin-bottom: 30px; margin-top: 50px;">
        <div id='stephen-bio'>
        <div class="col-sm-4">
          <img src="../static/images/stive.jpg" alt="Stephen" style="border-radius: 15px; border: 5px solid rgb(255, 255, 255);">
        </div>
        <div class="col-sm-8">
          <p id="team-par-head"><strong>Stephen Milton</strong></p>
          <hr style="background-color:rgba(184, 174, 196, 0.5);">
          <p id="team-par">A proactive, insightful and high performing Territory Manager with over 15 years' extensive experience in research, data interpretation & analytics, technical processes, corporate reporting, proactive problem solving and implementation of continuous process improvements across IT, contact centre and transport settings. Comprehensive knowledge and experience in developing analysis tools and reporting that drive impactful changes to operations to surpass standards in quality, performance, productivity and efficiency. Equipped with exceptional analytical, problem-solving, conceptual and critical thinking skills as well as effective communication, organisation and interpersonal strengths. A service oriented professional determined to leverage qualifications and past experience to support the strategic and functional objectives of the organisation.
          You can follow Stephen on: </p><br>
          <a href='https://www.linkedin.com/in/stephen-milton-4765ab84/'><img class="linkIcons" src="../static/images/linkedin-logo.png" style="width: 60px; height: 60px; margin-left: 50px;"></a> 
          <a href='https://github.com/Stevemilt'><img class="linkIcons" src="../static/images/github-logo.png" style="width: 60px; height: 60px;margin-left: 30px;"></a>   
        </div>
        </div>
      </div>

      <div class="row" style="margin-bottom: 30px;margin-top: 50px;">
        <div id='cicily-bio'>
        <div class="col-sm-4">
          <img src="../static/images/cicily.jpg" alt="Cicily" style="border-radius: 15px; border: 5px solid rgb(255, 255, 255);">
        </div>
        <div class="col-sm-8">
          <p id="team-par-head"><strong>Cicily George</strong></p>
          <hr style="background-color:rgba(184, 174, 196, 0.5);">
          <p id="team-par">Self-motivated developer with proven records in developing full stack projects, from concept to completion. A fast learner, keen to find the best solutions for the problems. Eager to hold a Data Analyst position, with the background in Computer Science and skilled in Excel, VBA, Python, and SQL from UWA’s data analytics and visualization bootcamp certification.
          You can follow Cicily on: </p><br>
            <a href='https://www.linkedin.com/in/cicily-george-a235731a2/'><img class="linkIcons" src="../static/images/linkedin-logo.png" style="width: 60px; height: 60px; margin-left: 50px;"></a> 
            <a href='https://github.com/CicilyGeorge'><img class="linkIcons" src="../static/images/github-logo.png" style="width: 60px; height: 60px;margin-left: 30px;"></a>   
          </div>
          </div>
        </div> 
      <div class="row" style="margin-bottom: 30px;margin-top: 50px;">
        <div id='parastoo-bio'>
        <div class="col-sm-4">
          <img src="../static/images/parastoo.jpg" alt="Parastoo" style="border-radius: 15px; border: 5px solid rgb(255, 255, 255);">
        </div>
        <div class="col-sm-8">
          <p id="team-par-head"><strong>Parastoo Razavi</strong></p>
          <hr style="background-color:rgba(184, 174, 196, 0.5);">
          <p id="team-par">Organized data analyst with a strong portfolio in analysing data with different tools such as Microsoft Excel, Tableau and Python. Bachelor of Statistics and certificate in data visualization from UWA with excellent grades, having working knowledge of financial analysis and economics with 10 years of experience as a senior bank advisor.
            You can follow Parastoo on: </p><br>
            <a href='https://www.linkedin.com/in/parastoo-razavi/'><img class="linkIcons" src="../static/images/linkedin-logo.png" style="width: 60px; height: 60px; margin-left: 50px;"></a> 
            <a href='https://github.com/parastoorazavi'><img class="linkIcons" src="../static/images/github-logo.png" style="width: 60px; height: 60px;margin-left: 30px;"></a>   
          </div>
          </div>
        </div>    
      <div class="row" style="margin-bottom: 200px;margin-top: 50px;">
        <div id='ezra-bio'>
        <div class="col-sm-4">
          <img src="../static/images/ezra.jpg" alt="Ezra" style="border-radius: 15px; border: 5px solid rgb(255, 255, 255);">
        </div>
        <div class="col-sm-8">
          <p id="team-par-head"><strong>Ezra Tassone</strong></p>
          <hr style="background-color:rgba(184, 174, 196, 0.5);">
          <p id="team-par">Experienced Computer Science researcher with a background in computer vision and machine learning, a Bachelor and Master’s degree in Computer Science., and a Postgraduate Diploma in Business (majoring Information Systems). A self-motivated, very keen learner with strong problem-solving abilities. Aspiring Data Analyst with current technical skills in Excel, VBA, Python, SQL and JavaScript along with data analytics and visualisation from the University of Western Australia’s Data Analytics Boot Camp.
            You can follow Ezra on: </p><br>
            <a href='https://www.linkedin.com/in/ezra-tassone-73a3191b3/'><img class="linkIcons" src="../static/images/linkedin-logo.png" style="width: 60px; height: 60px; margin-left: 50px;"></a> 
            <a href='https://github.com/etassone1974'><img class="linkIcons" src="../static/images/github-logo.png" style="width: 60px; height: 60px;margin-left: 30px;"></a>   
          </div>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>