<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Table Data</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <!-- Webix -->
  <link rel="stylesheet" href="//cdn.webix.com/edge/webix.css" type="text/css">
  <script src="//cdn.webix.com/edge/webix.js" type="text/javascript"></script>
  <!-- D3 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>
  <script>
    $(function () {
      $("#header").load("header");
    });
  </script>
</head>
<body>
  <!-- Navbar -->
  <div id="header">
    <!-- tags from header.html -->
  </div>
  <!-- End Navbar -->
  <!-- header part -->
  <div class="container-fluid bg-3 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="text-center" style="margin-top: 100px;">Population Actual and Prediction</h3><br>
          <hr>
          <h4 style="text-align: center; color: rgb(78, 70, 25); font-size: 20px;"><b>The table below can be sorted by
              clicking on the header of a column.</b></h4>
          <!-- <div id="aaa"></div> 
            <script type="text/javascript" src="../static/js/logic_table.js"></script> -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" id="dTable"></div>
      </div>
    </div>
  </div>
  <!-- Webix Table -->
  <script type="text/javascript" charset="utf-8">
    d3.json(" /api/population/cities").then((dataset) => {
      dataForWebix = dataset[0].data
      console.log(dataForWebix)
      var datatable = webix.ui({
        container: "dTable",
        view: "datatable",
        // scroll: false,
        columns: [
          // { id:"id",    header:"",              width:50},
          {id: "City", header: "City", sort: "string", width: 250},
          {id: "Country", header: "Country", sort: "string", width: 250},
          { id:"Rank",   header:"Rank 2020",   sort:"int",  width:125},
            { id:"2019",   header:"2019",   sort:"int",  width:250},
            { id:"2020",   header:"2020",   sort:"int",  width:250}
        ],
        autoheight: true,
        data: dataForWebix
      });
    });  
  </script>
</body>
</html>