<!DOCTYPE html>
<html lang="en-us">
<head>
  
</head>

<body>
<!-- Navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid navbar-custom">
    <div class="row">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>       
      </button>
      <a class="navbar-brand" id="logo" href="/">World Population</a>
      </div>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav" id="ournav">
      <li><a class="nav-link" href="countries-population">Countries</a></li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tables</a>
        <div class="dropdown-menu" style="background-color: #333;">
          <a class="dropdown-item" href="Data" style="color: rgb(155, 151, 151); font-size: 20px; padding: 10px;">Countries</a><br>
          <a class="dropdown-item" href="data-cities" style="color: rgb(155, 151, 151); font-size: 20px; padding: 10px">Cities</a>
        </div>
      </li>

      <li><a class="nav-link" href="api">API Documentation</a></li>
      <li><a class="nav-link" href="summary">Resources</a></li>
      <li><a class="nav-link" href="contact">Our Team</a></li>
    </ul>
  </div>
  </div>
  </div>
</nav>
<!-- End Navbar -->
</body>
</html>